@import "_global.scss";
@import "_fonts.scss";

// ----- HEADER START -----
.header {
    margin-bottom: 65px;
    &__inner {
        text-align: center;
    }
    &__inner-logo {
        min-width: 320px;
        display: inline-block;
    }
    &__inner-img {
        object-fit: cover;
        object-position: center;
        padding: 0 15px;
    }
    &__inner-block,
    &__inner-button {
        display: none;
    }
}
// ----- HEADER END -----
// ----- MAIN START -----
.top {
    padding: 0 16px;
    &__title {
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__wrapper-title--top {
        display: none;
    }
    &__slider {
        width: 176px;
        margin: 0 auto;
    }
    &__title-top {
        display: none;
    }
    &__images-icons {
        display: none;
    }
}
.down {
    padding: 0 16px;
    padding-bottom: 20px;
    &__accardion-title {
        margin-bottom: 15px;
    }
    &__accardion-text {
        font-size: 16px;
        font-weight: 400;
        display: block;
        text-align: center;
        margin-bottom: 31px;
    }
    &__comment-title {
        margin-bottom: 90px;
    }
    &__comment-big {
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
        background-color: #fff;
        text-align: center;
        padding: 80px 16px 15px 16px;
        border-radius: 32px;
        position: relative;
        margin-bottom: 35px;
    }
    &__comment-pictures {
        display: block;
        width: 97px;
        margin: 0 auto;
        margin-top: -125px;
        padding-bottom: 45px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 55px;
            left: -80px;
            width: 40px;
            height: 26px;
            background-image: url(../images/main/quotes-up.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 55px;
            right: -80px;
            width: 40px;
            height: 26px;
            background-image: url(../images/main/quotes-down.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__comment-img {
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
    }
    &__comment-text {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 24px;
        span {
            display: block;
            padding-top: 25px;
            font-weight: 700;
        }
    }
}
.comment-smalls {
    &__pictures {
        width: 60px;
        float: left;
        margin-right: 15px;
    }
    &__pictures-right {
        float: right;
        margin-left: 16px;
    }
    &__pictures-text {
        min-width: 196px;
        font-style: 16px;
        font-weight: 400;
        overflow: hidden;
        margin-bottom: 25px;
        span {
            display: block;
            font-weight: 700;
            padding-top: 25px;
        }
    }
}
// ----- slider start -----
.slider {
    margin-bottom: 105px;
    &__img {
        width: 64px;
        filter: drop-shadow(4px 4px 8px #a6abbd);
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__span {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        display: block;
        margin-bottom: 68px;
    }
}
.slick-dots {
    width: 105px;
    margin: 0 auto;
    padding: 0;
    .slick-active {
        background-color: #a6abbd;
        border-radius: 32px;
    }
    li {
        display: inline-block;
        border-radius: 40px;
        width: 8px;
        height: 8px;
        background-color: #fff;
    }
    li + li {
        margin-left: 16px;
    }
    button {
        border: none;

        font-size: 0;
        padding: 0;
    }
}
.slick-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
.slick-prev {
    right: 0;
}
// ----- slider end -----
// ----- Accardion start -----
.accordion {
    margin: 0 15px;
    margin-bottom: 76px;
    &__wrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #e7ebf0;
        }
    }
    &__wrapper + &__wrapper {
        margin-top: 14px;
    }
    &__wrapper-heading {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        padding-right: 50px;
        position: relative;
        transition: all 0.4s;
        span {
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: 5px;
                right: 0;
                background-image: url(../images/main/arrow-down.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 19px;
                height: 10px;
                transition: all 0.4s;
            }
        }
    }
    &__wrapper-heading.in span::before {
        transform: rotate(180deg);
    }
    &__wrapper-heading.in {
        color: #00c368;
    }
    &__wrapper-collapse {
        display: none;
    }
}
// ----- Accardion end -----
// ----- MAIN END -----
// ----- MEDIA START -----
@media (min-width: 480px) {
    .top,
    .down {
        margin: 0 auto;
        max-width: 500px;
    }
}
@media (min-width: 1024px) {
    .header {
        padding-top: 40px;
        background-color: #e5e5e5;
    }
    .header__inner {
        text-align: left;
    }
    .header__inner-block,
    .header__inner-button {
        display: inline-block;
    }
    .header__inner-logo {
        padding-left: 90px;
    }
    .header__inner-img {
        width: 320px;
        padding: 0;
    }
    .header__inner-button {
        float: right;
        margin-top: 40px;
        margin-right: 100px;
        border: none;
        background-color: transparent;
        padding: 4px 20px;
        border-radius: 8px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #00c368;
            box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
        }
    }
    .header__inner-list {
        margin-top: -55px;
    }
    .header__inner-link {
        float: left;
        margin-left: 90px;
    }
    .header__inner-link a {
        text-decoration: none;
        color: #a6abbd;
        border-radius: 8px;
        padding: 4px 24px;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: #00c368;
            box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
        }
    }
    .top,
    .down {
        max-width: none;
    }
    .top {
        background: linear-gradient(111.04deg, #cacaca 0.39%, rgba(255, 255, 255, 0) 86.46%);
        padding-bottom: 140px;
    }
    .top__wrapper {
        padding-top: 100px;
        margin-bottom: 300px;
    }
    .top__wrapper-title--top {
        display: block;
        text-transform: uppercase;
    }
    .top__title,
    .top__slider {
        display: none;
    }
    .top__images {
        width: 436px;
        margin: 0 auto;
        position: relative;
    }
    .top__images-icons {
        display: block;
        position: absolute;
        width: 176px;
        padding-top: 22px;
        text-align: center;
        padding-top: 75px;
    }
    .top__images-icons--tl {
        top: -170px;
        left: 0;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--tr {
        top: -170px;
        left: 260px;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--cr {
        top: 60px;
        left: 420px;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-4.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--dr {
        top: 240px;
        left: 260px;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--dl {
        top: 240px;
        left: 0px;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--cl {
        top: 60px;
        left: -140px;
        &::before {
            content: "";
            background-image: url(../images/main/img/img-3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 64px;
            height: 71px;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }
    .top__images-icons--tl,
    .top__images-icons--tr,
    .top__images-icons--cr,
    .top__images-icons--dr,
    .top__images-icons--dl,
    .top__images-icons--cl {
        transition: all 0.3s;
        &:hover {
            transform: translate(5px, -2px);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .top__parallax {
        position: relative;
    }
    .top__parallax-img {
        width: 442px;
        height: 519px;
        position: absolute;
    }
    .parallax__left {
        top: 0;
        left: 0;
    }
    .parallax__right {
        top: 0;
        right: 0;
    }
    .down {
        padding: 0;
        overflow: hidden;
    }
    .down__comment {
        background-color: #f5f5f5;
        padding: 0 40px 26000px 40px;
        margin: 0 0 -26000px 0;
    }
    .down__accardion {
        background-color: #f8fbff;
        padding: 0 50px 26000px 50px;
        margin: 0 0 -26000px 0;
    }
    .down__accardion,
    .down__comment {
        width: 50%;
        float: right;
        padding-top: 123px;
    }
    .down__comment-title,
    .down__accardion-title {
        width: 400px;
    }
    .down__comment-big {
        box-shadow: none;
        background-color: transparent;
        text-align: left;
        padding: 0;
        border-radius: 0;
    }
    .down__comment-text {
        position: relative;
        padding: 0 60px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/main/quotes-green-up.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 26px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 50px;
            background-image: url(../images/main/quotes-green-down.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 26px;
        }
    }
    .down__comment-pictures::before,
    .down__comment-pictures::after {
        display: none;
    }
    .down__comment-pictures {
        margin: 0;
        padding: 0;
    }
    .down__comment-pictures {
        margin: 0 auto;
        width: 187px;
    }
    .comment-smalls__block {
        width: 50%;
        margin: 0 auto;
    }
    .comment-smalls__pictures {
        width: 97px;
    }
}
@media (min-width: 1400px) {
    .down__comment-pictures {
        float: left;
        margin-right: 70px;
    }
    .down__comment-text {
        overflow: hidden;
    }
    .comment-smalls__block--float {
        float: right;
    }
    .comment-smalls__block {
        margin: 0;
    }
    .accordion__wrapper-heading {
        padding-bottom: 16px;
    }
    .accordion__wrapper-heading span {
        padding-left: 64px;
        font-size: 24px;
    }
    .accordion__wrapper-collapse {
        padding-left: 64px;
        padding-bottom: 15px;
        font-size: 16px;
    }
    .accordion__wrapper {
        position: relative;
    }
    .switch {
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url(../images/main/icons/img-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .fork {
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url(../images/main/icons/img-2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .bulb {
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url(../images/main/icons/img-3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .lamp {
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url(../images/main/icons/img-4.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .power {
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url(../images/main/icons/img-5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}
// ----- MEDIA END -----
/* Rectangle 157 */
