@import "_global.scss";
@import "_fonts.scss";

// ----- HEADER START -----
.header {
    &__wrapper-img {
        width: 150px;
    }
    &__wrapper-link {
        display: inline-block;
        color: #a6abbd;
        text-decoration: none;
        padding: 4px 24px;
        margin-left: 90px;
        &:hover {
            color: #ffffff;
            background-color: #00c368;
            border-radius: 8px;
            box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
            transition: all 0.3s;
        }
    }
    &__wrapper-btn {
        color: #fff;
        background-color: #00c368;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
        padding: 4px 20px;
        margin-left: 550px;
        border: none;
        cursor: pointer;
        &:hover {
            transition: all 0.2s;
            transform: translate(2px, 2px);
            background-color: #01d874;
            color: rgb(240, 240, 240);
        }
        &:active {
            transform: translate(0, 0);
        }
    }
    &__wrapper-link,
    &__wrapper-btn {
        font-size: 16px;
        float: left;
        margin-top: -35px;
    }
    &__wrapper-block,
    &__wrapper-logo,
    &__wrapper-box {
        display: inline-block;
    }
    &__wrapper-logo {
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-top: 42px;
        a {
            display: block;
            width: 150px;
            margin: 0 auto;
        }
    }
    &__wrapper-block {
        display: none;
    }
}
// ----- HEADER END -----
// ----- MAIN START -----
.main {
    padding-bottom: 100px;
    &__inner-block--title {
        max-width: 310px;
        margin: 0 auto;
    }
    &__inner-title {
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }
    &__inner-block--slider {
        width: 288px;
        margin: 0 auto;
        padding-bottom: 110px;
    }
    &__inner-title-adaptive,
    &__inner-content {
        display: none;
    }
    &__inner-content {
        position: relative;
        width: 570px;
    }
    &__inner-icons {
        position: absolute;
        &:hover {
            transition: all 0.3s;
            transform: scale(1.2);
        }
    }
    &__inner-icons--1 {
        top: -170px;
        left: 15px;
    }
    &__inner-icons--2 {
        top: -170px;
        left: 250px;
    }
    &__inner-icons--3 {
        top: 63px;
        left: 420px;
    }
    &__inner-icons--4 {
        top: 70px;
        left: -140px;
    }
    &__inner-icons--5 {
        top: 240px;
        left: 15px;
    }
    &__inner-icons--6 {
        top: 240px;
        left: 250px;
    }
    &__inner-icon {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 55px;
        margin: 0 auto;
    }
    &__inner-icon--1 {
        background-image: url(../images/main/img/img-1.png);
    }
    &__inner-icon--2 {
        background-image: url(../images/main/img/img-2.png);
    }
    &__inner-icon--3 {
        background-image: url(../images/main/img/img-4.png);
    }
    &__inner-icon--4 {
        background-image: url(../images/main/img/img-3.png);
    }
    &__inner-icon--5 {
        background-image: url(../images/main/img/img-1.png);
    }
    &__inner-icon--6 {
        background-image: url(../images/main/img/img-4.png);
    }
    &__inner-text {
        display: block;
        padding-top: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        max-width: 176px;
    }
    &__inner-paralax {
        display: none;
    }
}
// ----- slider start -----
.slider {
    position: relative;
    &__img {
        background-image: url("../images/main/slider/img-1.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 80px;
        height: 85px;
        margin: 0 auto;
        margin-top: 10px;
    }
    &__text {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #2e3a59;
        text-align: center;
        max-width: 175px;
        margin: 0 auto;
    }
}
.slick-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.slick-btn {
    position: absolute;
    bottom: -10px;
}
.slick-next {
    left: 75px;
}
.slick-prev {
    right: 65px;
}
.slick-dots {
    margin: 0 auto;
    margin-top: 68px;
    width: 175px;
    li {
        display: inline-block;
        font-size: 0;
    }
    li + li {
        margin-left: 16px;
    }
    button {
        width: 8px;
        height: 8px;
        border-radius: 40px;
        background-color: #e7ebf0;
        border: none;
        padding: 0;
        margin: 0;
    }
}
.slick-active button {
    background-color: #a6abbd;
    border-radius: 32px;
}
// ----- slider end -----
// ----- Accardion start -----
.accordion {
    margin-bottom: 50px;
    &__inner-title {
        margin-bottom: 25px;
    }
    &__inner-text {
        display: block;
        width: 300px;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__title,
    &__text {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
    }
    &__wrapper {
        max-width: 380px;
        margin: 0 auto;
        margin-bottom: 14px;
        border-bottom: 1px solid #e7ebf0;
        &:last-child {
            border-bottom: none;
        }
    }
    &__wrapper-btn {
        font-size: 16px;
        font-weight: 700;
        padding-right: 60px;
        margin-bottom: 15px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            right: 0;
            background-image: url(../images/main/arrow-down.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 19px;
            height: 17px;
        }
    }
    &__wrapper-heading.in &__wrapper-btn::before {
        transform: rotate(180deg);
    }
    &__wrapper-heading.in button {
        color: #00c368;
    }
    &__wrapper-panel {
        display: none;
    }
    &__wrapper-text {
        display: block;
        font-size: 16px;
        font-weight: 400;
    }
}
// ----- Accardion end -----
// ----- Autor start -----
.autor {
    &__inner-title {
        margin-bottom: 50px;
    }
    &__inner-photo {
        object-fit: cover;
        object-position: center;
        width: 97px;
        height: 97px;
        margin: 0 auto;
        margin-bottom: -50px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -80px;
            width: 40px;
            height: 26px;
            background-image: url(../images/main/quotes-up.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -80px;
            width: 40px;
            height: 26px;
            background-image: url(../images/main/quotes-down.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__inner-info {
        width: 288px;
        margin: 0 auto;
        background-color: #fff;
        text-align: center;
        line-height: 24px;
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
        border-radius: 32px;
        padding: 80px 16px 15px 16px;
        margin-bottom: 35px;
    }
    &__inner-text {
        margin-bottom: 25px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__inner-nic {
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
// ----- Autor end -----
// ----- Comments start -----
.comments {
    width: 288px;
    margin: 0 auto;
    &__block + &__block {
        margin-top: 25px;
        display: inline-block;
    }
    &__block-photo {
        display: inline-block;
        object-fit: cover;
        object-position: center;
    }
    &__block-img {
        width: 59px;
        height: 59px;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
    }
    &__block-info {
        width: 196px;
        float: right;
    }
    &__block-info--left {
        float: left;
    }
    &__block-text {
        margin-bottom: 25px;
    }
    &__block-nic {
        font-weight: 700;
    }
}
// ----- Comments end -----
// ----- MAIN END -----
// ----- MEDIA START -----
@media (min-width: 480px) {
    .header__wrapper-logo a,
    .header__wrapper-img {
        width: 250px;
    }
}
@media (min-width: 768px) {
    .header__wrapper-logo a,
    .header__wrapper-img {
        width: 450px;
    }
    .header__wrapper-logo {
        width: 460px;
    }
    .main__inner-block--title {
        max-width: 550px;
    }
    .main__inner-title {
        font-size: 40px;
    }
    .title {
        max-width: 470px;
        font-size: 40px;
    }
    .title::before {
        left: 165px;
    }
    .accordion__inner-text {
        width: 390px;
    }
    .accordion__wrapper {
        max-width: 520px;
    }
    .accordion__wrapper-btn {
        font-size: 24px;
    }
    .autor__inner-info {
        width: 750px;
    }
    .comments {
        width: 600px;
    }
    .comments__block {
        width: 300px;
        float: right;
    }
    .comments__block + .comments__block {
        margin-top: 0;
    }
}
@media (min-width: 1024px) {
    .header {
        background-color: #fff;
    }
    .title::before {
        left: 145px;
    }
    .header__wrapper-block {
        display: inline;
    }
    .header__wrapper-logo a,
    .header__wrapper-img {
        width: 222px;
    }
    .header__wrapper-logo {
        width: 301px;
        display: inline-block;
    }
    .header__wrapper-logo {
        margin: 0;
    }
    .header__wrapper-link {
        margin-left: 40px;
    }
    .header__wrapper-btn {
        margin-left: 150px;
    }
    .main {
        padding-top: 75px;
        background: linear-gradient(111.04deg, #d4d4d4 0.39%, rgba(255, 255, 255, 0) 86.46%);
    }
    .main__inner-block--slider,
    .main__inner-title {
        display: none;
    }
    .main__inner-title-adaptive {
        display: block;
        min-width: 1000px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 16px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 420px;
            width: 184px;
            height: 4px;
            background-color: #00c368;
        }
    }
    .main__inner-block--title {
        max-width: 1000px;
        margin-bottom: 292px;
    }
    .main__inner-block--img {
        width: 436px;
        margin: 0 auto;
    }
    .main__inner-content {
        display: block;
    }
    .accordion__wrapper + .accordion__wrapper {
        margin-top: 30px;
    }
    .main__inner-block--accordion,
    .main__inner-block--autor {
        width: 512px;
        height: 630px;
    }
    .main__inner-block--accordion {
        padding: 100px 0 26000px 0;
        margin: 0 0 -26000px 0;
        background-color: #f8fbff;
        float: right;
    }
    .main__inner-block--autor {
        padding: 100px 25px 26000px 25px;
        margin: 0 0 -26000px 0;
        margin-right: 512px;
        background-color: #f5f5f5;
    }
    .main__inner-wrapper {
        width: 1024px;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .title {
        font-size: 30px;
    }
    .autor__inner-info {
        width: 395px;
        margin: 0;
        background-color: transparent;
        line-height: 24px;
        text-align: left;
        box-shadow: none;
        border-radius: 0;
        margin-top: -220px;
        margin-left: 100px;
        position: relative;
    }
    .autor__inner-photo {
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
        margin: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    .autor__inner-photo::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        left: -80px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-up.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-photo::after {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        right: -80px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-info::before {
        content: "";
        position: absolute;
        top: 80;
        left: -40px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-up.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-info::after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 40px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .comments {
        width: 400px;
    }
    .main__inner-wrapper {
        margin: 0 auto;
    }
    
}
@media (min-width: 1360px) {
    .header__wrapper-link {
        margin-left: 90px;
    }
    .header__wrapper-btn {
        margin-left: 350px;
    }
    .main__inner-block--accordion,
    .main__inner-block--autor {
        width: 680px;
        height: 630px;
    }
    .main__inner-block--accordion {
        padding: 100px 0 26000px 0;
        margin: 0 0 -26000px 0;
        background-color: #f8fbff;
        float: right;
    }
    .main__inner-block--autor {
        padding: 100px 25px 26000px 25px;
        margin: 0 0 -26000px 0;
        margin-right: 680px;
        background-color: #f5f5f5;
    }
    .main__inner-wrapper {
        width: 1360px;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .autor__inner-info {
        width: 443px;
        margin: 0;
        background-color: transparent;
        line-height: 24px;
        text-align: left;
        box-shadow: none;
        border-radius: 0;
        margin-top: -235px;
        margin-left: 220px;
        position: relative;
    }
    .autor__inner-photo {
        object-fit: cover;
        object-position: center;
        width: 120px;
        height: 120px;
        margin: 0;
        margin-bottom: 0;
        margin-left: 90px;
    }
    .parallax {
        display: block;
        position: relative;
        &__img {
            position: absolute;
            width: 442px;
            height: 448px;
        }
        &__img-right {
            top: -130px;
            left: -460px;
        }
        &__img-left {
            top: -130px;
            left: 500px;
        }
    }
}
@media (min-width: 1920px) {
    .autor__inner-info {
        width: 443px;
        margin: 0;
        background-color: transparent;
        line-height: 24px;
        text-align: left;
        box-shadow: none;
        border-radius: 0;
        margin-top: -280px;
        margin-left: 355px;
        position: relative;
    }
    .autor__inner-photo {
        object-fit: cover;
        object-position: center;
        width: 187px;
        height: 187px;
        margin: 0;
        margin-bottom: 0;
        margin-left: 125px;
    }
    .autor__inner-photo::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        left: -80px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-up.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-photo::after {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        right: -80px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-info::before {
        content: "";
        position: absolute;
        top: 80;
        left: -40px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-up.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-info::after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 40px;
        width: 40px;
        height: 26px;
        background-image: url(../images/main/quotes-green-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .autor__inner-box {
        padding-bottom: 130px;
    }
    .header__wrapper-btn {
        margin-left: 850px;
    }
    .main__inner-block--accordion,
    .main__inner-block--autor {
        width: 960px;
        height: 630px;
    }
    .main__inner-block--accordion {
        padding: 100px 0 26000px 0;
        margin: 0 0 -26000px 0;
        background-color: #f8fbff;
        float: right;
    }
    .main__inner-block--autor {
        padding: 100px 25px 26000px 25px;
        margin: 0 0 -26000px 0;
        margin-right: 960px;
        background-color: #f5f5f5;
    }
    .main__inner-wrapper {
        width: 1920px;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .title {
        font-size: 40px;
        max-width: 500px;
    }
    .comments {
        width: 600px;
    }
}
// ----- MEDIA END -----
/* Rectangle 157 */
